<h1>
  Card Helper
</h1>


<!-- ========================================== -->
<!-- NUMERO GIOCATORI -->
<!-- ========================================== -->

<h2>
  Numero giocatori
</h2>


<button
  type="button"
  [class.selected]="playersNumber === 1"
  (click)="selectPlayers(1)"
>
  1
</button>


<button
  type="button"
  [class.selected]="playersNumber === 2"
  (click)="selectPlayers(2)"
>
  2
</button>


<button
  type="button"
  [class.selected]="playersNumber === 3"
  (click)="selectPlayers(3)"
>
  3
</button>


<button
  type="button"
  [class.selected]="playersNumber === 4"
  (click)="selectPlayers(4)"
>
  4
</button>


<!-- ========================================== -->
<!-- VITA -->
<!-- ========================================== -->

<h2>
  Vita iniziale
</h2>


<input
  type="number"
  [(ngModel)]="life"
>


<!-- ========================================== -->
<!-- GIOCATORI -->
<!-- ========================================== -->

<h2>
  Giocatori
</h2>


<div
  *ngFor="
    let name of names;
    let i = index;
    trackBy: trackPlayer
  "
>

  <input
    *ngIf="i < playersNumber"
    type="text"
    [(ngModel)]="names[i]"
    [placeholder]="'Giocatore ' + (i + 1)"
    autocomplete="off"
  >

</div>


<!-- ========================================== -->
<!-- INIZIA PARTITA -->
<!-- ========================================== -->

<button
  type="button"
  (click)="start()"
>
  INIZIA PARTITA
</button>